
/* -- 0. Overall page setting -- */

body{
	font-family: $font_type;
}
p{
	text-align: justify;
	text-indent: 1em;
}
@include clearfix;

/* 統一字型大小 h2~h6,p {font-size} */
h2{	font-size: 30px; }
h3{	font-size: 24px; }
h4{ font-size: 20px; }
h5{	font-size: 18px; }
h6{	font-size: 16px; }
p{	font-size: 14px;
	line-height: 1.5;
	text-align: justify;
	text-indent: 2em; }

@include wrap_setting($max_width);


.footer{
	background-color: #ffd366;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

/* -- 0. Overall page setting END -- */