/* Overall setting */
$font_type: 微軟正黑體;
$font_eng_type: Arial;
$font_eng_type_bold: Arial Black;
$max_width: 960px;
$main_bg_color: #ffd366;
$main_bg_color_dark: #dea821;
$sub_bg_color: #424242;

/* 各種類型所代表的顏色 */
/* 以後類型要改顏色來這邊改就好 不用CSS一個一個改 */
$body_type_color_fine: #86d73f;
$body_type_color_serious: red;
$body_type_color_heavy: #ff1200;
$body_type_color_medium: #ff6c03;
$body_type_color_little: #ff982d;
$body_type_color_light: #31baf9;
