<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>宅男備忘</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="mask"></div>
    <div class="wrap">
        <div class="toDoListBoard">
            <div class="roleShow clearfix">
                    <img src="https://misado.github.io/JS_ALL/hw7_localStorage_todolist/img/otakuboy.png">
                <h1>宅男備忘</h1>
            </div>
        </div>
        <div class="toDoList">
            <input type="text" v-model="thingInput" @keyup.enter="addTask" placeholder="請輸入備忘事項">
            <!-- 點擊全部顯示時，把 showMode 改成'ALL'，下面v-if會用到 showMode 判斷 -->
            <input type="button" value="全部顯示" @click="showMode='ALL'">
            <!-- 點擊已完成時，把 showMode 改成'COMP'，下面v-if會用到 showMode 判斷 -->
            <input type="button" value="已完成"  @click="showMode='COMP'">
            <!-- 點擊已完成時，把 showMode 改成'UNDO'，下面v-if會用到 showMode 判斷 -->
            <input type="button" value="未完成"  @click="showMode='UNDO'">
            <input type="button" value="清除全部已完成事項" @click="clearTask">
            <ul>
                <li class="clearfix" v-for="(item,index) in thingArray" v-if="modeCheck(showMode,item)" :class="classChange(item.completed)">
                    <input class="checkboxBtn" type="checkbox" @click="completeTask(index)" :checked="item.completed">
                    {{item.date}}<span>{{item.content}}</span>
                    <input class="removeBtn"  type="button" @click="removeTask(index)" value="刪除">
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="js/all.js"></script>
</body>
</html>