@charset "UTF-8";
/* Overall setting */
/* 各種類型所代表的顏色 */
/* 以後類型要改顏色來這邊改就好 不用CSS一個一個改 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* CSS reset for RWD */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

/* -- CSS reset END -- */
/* CSS RESET and RWD RESET */
/* -- 0. Overall page setting -- */
body {
  font-family: 微軟正黑體; }

p {
  text-align: justify;
  text-indent: 1em; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

/* 統一字型大小 h2~h6,p {font-size} */
h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

p {
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  text-indent: 2em; }

.wrap {
  max-width: 960px;
  margin: 0 auto;
  background-color: #C0Dfff; }

/* -- 0. Overall page setting END -- */
/* 1. INDEX.HTML CSS */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header .frame {
    width: 313px;
    height: 122px;
    background-image: url("../img/frame.png");
    background-repeat: no-repeat;
    background-position: center; }
  .header .shinydollPic {
    width: 52px;
    height: 64px;
    background-image: url("../img/shinydoll.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: auto 20px; }
    .header .shinydollPic.right {
      -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      transform: scaleX(-1); }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .main .pocker {
    width: 637px;
    height: 224px;
    background-image: url("../img/poker.png");
    background-repeat: no-repeat;
    background-position: center; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .footer .resultShow {
    width: 259px;
    height: 251px;
    background-image: url("../img/rainbow.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
