/* Overall setting */
$font_type: 微軟正黑體;
$font_eng_type: Arial;
$font_eng_type_bold: Arial Black;
$max_width: 1366px;
$main_bg_color: #559ac8;
$main_bg_color_dark: #559ac8;
$sub_bg_color: #424242;

$first_hot_color: #8a82cc;
$second_hot_color: #ffa782;
$third_hot_color: #f5d005;
$fourth_hot_color: #559ac8;
$fifth_hot_color: #01b468;
